* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

.error {
    color: red;
}

.input {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.hr {
    margin: 10px 0;
}
.container {
    padding: 25px;
}
.input-type {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}